@model IEnumerable<ChieftensLMS.Models.SharedFile>

@{
    ViewBag.Title = "Delade filer";
}

<h2>Delade filer</h2>
Lägg in att denna kollar courseId att det finns.
<p>
    @Html.ActionLink("Ladda upp ny", "Create")
</p>
<table class="table">
    <tr>
        <th>
			@Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
		<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
