@model IEnumerable<ChieftensLMS.Models.Assignment>

@{
	ViewBag.Title = "Inlämningsuppgifter";
}

<h2>Inlämningsuppgifter</h2>

<div ng-controller="assignmentIndexController">

	<table class="table">

		<tr>
			<td ng-repeat="item in assignmentList">
				@*<a href="~/Course/Details/{{item.Id}}">{{item.Name}}</a> <i>{{item.Description}}</i>*@
				<a href="~/Course/Details/{{item.Id}}">{{item.Name}}</a> <i>{{item.Description}}</i>
			</td>
		</tr>


	</table>
</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@


<script>

	(function () {

		angular.module("app").controller("assignmentIndexController", function ($scope, ApiService) {
			$scope.assignmentList = null;


			var onSuccess = function (data) {
				$scope.assignmentList = data.assigments;
			};

			var onFail = function (response) {
				alert("Misslyckades");
			};

			ApiService.GetAssigments(onSuccess, onFail, courseId);
		});

	}());

</script>