@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using ChieftensLMS.Classes
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<link rel="stylesheet" href="~/Content/jquery-ui.css">
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/ng-file-upload-shim.js"></script>
	<script src="~/Scripts/ng-file-upload.js"></script>
	<script src="~/Scripts/chieften/app.js"></script>
	<script src="~/Scripts/chieften/ApiService.js"></script>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ChieftenLMS", "Overview", "Course", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

					@if (Request.IsAuthenticated && LMSHelper.GetUserManager().IsInRole(LMSHelper.GetCurrectUserId(), "Teacher"))
			{
						<li>@Html.ActionLink("Mina Kurser", "Overview", "Course")</li>
						<li>@Html.ActionLink("Mina Delade Filer", "Mine", "SharedFile")</li>
						<li>@Html.ActionLink("Mitt Schema", "MyLectures", "Lectures")</li>
						<li>@Html.ActionLink("Skapa konto", "Register", "Account")</li>
						<li>@Html.ActionLink("Konton", "Index", "StudentAccount")</li>
			}
			else
			{
						<li>@Html.ActionLink("Mina Kurser", "Overview", "Course")</li>
						<li>@Html.ActionLink("Mina Delade Filer", "Mine", "SharedFile")</li>
						<li>@Html.ActionLink("Mitt Schema", "MyLectures", "Lectures")</li>
			}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
	@{
		if (Request.IsAuthenticated == false)
		{
			<div style="background: red; color:white; font-weight:bold; padding:20px">NOT LOGGED IN!</div>
		}
	}
		<div class="container body-content">
			@RenderBody()
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
			</footer>
		</div>

		@RenderSection("scripts", required: false)

	<script>
		(function ($, ng) {
			'use strict';

			var $val = $.fn.val; // save original jQuery function

			// override jQuery function
			$.fn.val = function (value) {
				// if getter, just return original
				if (!arguments.length) {
					return $val.call(this);
				}

				// get result of original function
				var result = $val.call(this, value);

				// trigger angular input (this[0] is the DOM object)
				ng.element(this[0]).triggerHandler('input');

				// return the original result
				return result;
			}
		})(window.jQuery, window.angular);
	</script>

</body>
</html>
